<form action="/books/add" method="post">

   <p>Title</p>
   <input type="text" name="title" id="" />
   <p>Author</p>
   <input type="text" name="author" id="" />
   <p>Rate</p>
   <input type="number" name="rate" id="" />
   <p>Link de imagen</p>
   <input type="text" name="photo_dir" id="" />

   <button type="submit">Add!</button>

</form>